* {
    font-family: quicksand;
    margin: 0px;
    padding: 0px;
}

.header {
    height: 42px;
    padding: 16.5px 8px;
    display: flex;
    justify-content: space-between;
    min-width: 320px;
}

.header__left-side {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__logo {
    text-decoration: none;
    font-size: 22px;
    color: black;
}


.header__menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 8px;
    position: relative;
    background-color: #0F8277;
    gap: 6px;
    border-radius: 4px;
    border: none;

}

.header__menu-line {
    width: 26px;
    height: 2px;
    background-color: #FFF;

}

.header__logo {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
}

.header__search-line {
    display: none;
}

.header__explore-block {
    display: none;
}

.header__explore-block img {
    display: none;
}

.header__explore {
    display: none;
}

.header__right-side {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__right-side img {
    display: none;
}

.login {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    border-radius: 4px;

}

.header__sign-up-button {
    background-color: #0F8277;
    color: #FFF;
    border: none;
}

.header__login-button {
    background-color: #FFF;
    color: #0F8277;
    border: none;
}

.header-menu {
    display: none;
}

section {
    padding-left: 8px;
    padding-right: 8px;
}

.wrapper {
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    min-width: 320px;
}

.learn-section {
    display: flex;
    flex-direction: column;
    background-color: #DBF3ED;
    gap: 32px;
    padding-left: 0;
    padding-right: 0;
}

.learn-section__website-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 120%;
    padding-top: 118.5px;
    padding-left: 16px;
    padding-right: 16px;
}

.learn-section__description {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    padding-left: 16px;
    padding-right: 16px;
}

.learn-section__buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 118.5px;
    padding-left: 16px;
    padding-right: 16px;
}

.learn-section__start-learning {
    display: block;
    padding: 10px 12px;
    background-color: #0F8277;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    border-radius: 4px;
}

.learn-section img {
    display: none;
}

.learn_more {
    background-color: white;
    color: #0F8277;
    border: 2px solid #0F8277;
}

.the-best-program {
    margin-top: 64px;
}

.green {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.h2-titles {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 12px;
}

.descriptions {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 12px;
}

.the-best-program__cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.the-best-program__card {
    width: 375px;
    border-radius: 4px;
    border: 1px solid grey;
    margin-top: 32px;
}


.the-best-program__card img {
    width: 100%;
    height: 278px;
}

.the-best-program__card-text {
    padding: 24px 16px;
}

.text-school-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.text-school-name.the-best-program__card-text-school-name::before {
    content: url("../images/dan-itlogo\ 1.svg");
    width: 72px;
    height: 20px;
    margin-right: 12px;
}

.text-highlighted {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 16px;
}

.text-call-to-action {
    color: #0F8277;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 32px;
}

.text-call-to-action::before {
    content: url("../images/hat-student.svg");
    width: 20px;
    height: 20px;
    margin-right: 12px;
    color: #0F8277;
}

.popular-courses {
    margin-top: 64px;
}

.popular-courses__cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
}

.popular-courses__card {
    border-radius: 4px;
    border: 1px solid grey;
    align-items: center;
    margin-top: 32px;
    max-width: 300px;
    min-width: 260px;
    /* width: 100%; */

}

.popular-courses__card img {
    /* width: 359px; */
    width: 100%;
    height: 278px;
}

.popular-courses__card-text {
    padding: 24px 16px;
    width: 327px;
    /* width: 100%; */
}

.popular-courses__card-text img {
    width: 72px;
    height: 20px;
    margin-bottom: 12px;
}

.popular-courses__card-text-school-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.popular-courses__card-text-highlighted {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 16px;
}

.popular-courses__card-text-call-to-action {
    color: #0F8277;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 32px;
}

.more-courses {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 68.5px;
}

.more-courses::after {
    content: url("../images/arrow.svg");
    width: 20px;
    height: 20px;
}

.categories-topics__blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.categories-topics__block {
    width: 168px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.categories-topics__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 32px;
}

.categories-topics__course-name {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
}

.categories-topics__students-number {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.cooperation {
    padding: 64px 8px;
    background: #DBF3ED;
}

.cooperation h2 {
    text-align: center;
}

.cooperation__companies-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
    margin-top: 32px;
}

.cooperation__img1 {
    width: 118px;
    height: 24px;

}

.cooperation__img2 {
    width: 62px;
    height: 22px;
    padding: 10px;
}

.cooperation__img3 {
    width: 46px;
    height: 16px;
    padding: 10px;
}

.cooperation__img4 {
    width: 33px;
    height: 33px;
}

.cooperation__img5 {
    width: 36px;
    height: 14px;
}

.cooperation__img6 {
    width: 75px;
    height: 24px;
}

.cooperation__img7 {
    width: 92px;
    height: 25px;
}

.cooperation__img8 {
    width: 91px;
    height: 19px;
}

.ideal-solution {
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ideal-solution__sales-and-title {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ideal-solution__button {
    display: block;
    padding: 12px;
    background-color: #0F8277;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    border-radius: 4px;
}

.ideal-solution__description {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}

.ideal-solution__container {
    display: grid;
    grid-template-columns: 116px 116px 116px;
    grid-template-rows: 66px 66px 66px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.ideal-solution__container div {
    width: 96px;
    height: 46px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .ideal-solution__container div {
    padding: 10px;
} */



.ideal-solution__img1 {
    width: 88px;
    height: 16px;
    padding: 10px;

}

.ideal-solution__img2 {
    width: 35px;
    height: 33px;
    padding: 10px;
}

.ideal-solution__img3 {
    width: 62px;
    height: 46px;
    padding: 10px;
}

.ideal-solution__img4 {
    width: 77px;
    height: 24px;
    padding: 10px;
}

.ideal-solution__img5 {
    width: 35px;
    height: 30px;
    padding: 10px;
}

.ideal-solution__img6 {
    width: 86px;
    height: 25px;
    padding: 10px;
}

.ideal-solution__img7 {
    width: 77px;
    height: 18px;
    padding: 10px;
}

.ideal-solution__img8 {
    width: 33px;
    height: 33px;
}

.ideal-solution__img9 {
    width: 86px;
    height: 16px;
    padding: 10px;
}

.ideal-solution__1div {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.ideal-solution__2div {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.ideal-solution__3div {
    border-bottom: 1px solid #BABABA;
}

.ideal-solution__4div {
    border-top: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.ideal-solution__5div {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.ideal-solution__6div {
    border-bottom: 1px solid #BABABA;
}

.ideal-solution__7div {
    border-right: 1px solid #BABABA;
}

.ideal-solution__8div {
    border-right: 1px solid #BABABA;
}

.offers {
    background: #DBF3ED;
    padding: 64px 8px 80px 8px;
}

.offers h2 {
    text-align: center;
}

.offers__container {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    gap: 24px;
}

.offers__training-program {
    padding: 32px;

    background-color: white;
    border-radius: 24px;
    border: 1px solid #0F8277;
}

.offers__annual {
    padding: 32px;
    background: white;
    border-radius: 24px;
    border: 1px solid #0F8277;
}

.offers__monthly {
    padding: 32px;
    background: #0F8277;
    border-radius: 24px;
    border: 1px solid #0F8277;
}

.offers__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-bottom: 31px;
    border-bottom: 2px solid #0F8277;
}

.offers__price.monthly {
    border-bottom: 2px solid white;
}

.offers__offer-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}

.offers__offer-title.monthly {
    color: white;
}

.offers__offer-description {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
}

.offers__offer-description.monthly {
    color: white;
}

.offers__offer-price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.offers__offer-price {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.offers__offer-price.monthly {
    color: white;
}

.offers__offer-slash {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.offers__offer-slash.monthly {
    color: white;
}

.offers__button {
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    width: 100%;
    padding: 10px 12px;
    background-color: #0F8277;
    border: none;
    gap: 6px;
    border-radius: 4px;
}

.offers__button.monthly {
    border: 2px solid #FFF;
}

.offers__list {
    padding-top: 31px;
}

.offers__benefits-list {
    list-style-type: none;
}

.offers__benefits-list li {
    display: flex;
    gap: 16px;
    font-size: 14px;
    margin-bottom: 16px;
}

.offers__benefits-list.monthly li {
    color: white;
    margin-bottom: 16px;
}

.offers__benefits-list li::before {
    display: inline-block;
    content: url("../images/bullit.svg");
    border-radius: 100px;
    background: #0F8277;
    width: 16px;
    height: 16px;
}

.offers__benefits-list.monthly li::before {
    content: url("../images/bullit1.svg");
    border-radius: 100px;
    background: white;
}

.students {
    padding-top: 64px;
    padding-bottom: 64px;
}


.students__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 116px);
    grid-gap: 24px;
    justify-content: center;
}

.students h2 {
    margin-bottom: 32px;
    text-align: center;
}

.students__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.students__photos-4div {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.form {
    background-color: #DBF3ED;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 8px;
    padding-right: 8px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    gap: 24px;
}

fieldset .form__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.form__contact-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__contact-info div {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px
}

.form__contact-info input {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
}

.form__contact-info textarea {
    height: 104px;
    padding: 12px;
}

.form__button {
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    width: 100%;
    padding: 10px 12px;
    background-color: #0F8277;
    border: none;
    border-radius: 4px;
}

.footer {
    padding: 32px 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__left-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer__left-footer-description {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
}

.footer__socials-icons img {
    width: 24px;
    height: 24px;
}

.footer__right-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer__socials-icons {
    display: flex;
    gap: 24px;
}

.footer__copyright {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.footer__left-footer h2 {
    margin-top: 0;
}


@media screen and (min-device-width: 768px) {

    .header {
        padding: 16.5px 12px;
    }

    .header__right-side img {
        display: block;
        height: 16px;
        width: 16px;
        padding: 10px;
        background-color: #0F8277;
        border: 1px solid #5C5C5C;
        border-radius: 3px;
    }

    .header__login-button {
        margin-left: 32px;
    }

    .wrapper {
        /* max-width: 768px; */
        padding-left: 12px;
        padding-right: 12px;
    }

    section {
        padding-left: 12px;
        padding-right: 12px;
    }

    .learn-section {
        display: flex;
        flex-direction: column;
        background-color: #DBF3ED;
        gap: 32px;
        position: relative;
    }

    .learn-section__website-title {
        width: 380px;
        padding-left: 64px;
        padding-right: 64px;
    }

    .learn-section__description {
        width: 380px;
        padding-left: 64px;
        padding-right: 64px;
        position: relative;
        z-index: 2;
    }

    .learn-section__buttons {
        display: flex;
        flex-direction: row;
        gap: 24px;
        padding-bottom: 104px;
        padding-left: 64px;
        padding-right: 64px;
    }

    .learn-section__start-learning {
        display: block;
        padding: 10px 12px;
        background-color: #0F8277;
        color: white;
        border: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        border-radius: 4px;
    }

    .learn_more {
        background-color: #DBF3ED;
        color: #0F8277;
        border: 2px solid #0F8277;
    }

    .learn-section img {
        display: block;
        position: absolute;
        width: 332px;
        height: 332px;
        flex-shrink: 0;
        top: 70px;
        right: 23px;
    }

    .the-best-program__cards {
        /* max-width: 744px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }

    .the-best-program__card img {
        width: 100%;
        height: 180px;
    }

    .popular-courses__cards {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        gap: 24px;
    }

    .popular-courses__card-text {
        width: 135px;
    }

    .popular-courses__card img {
        width: 100%;
        height: 160px;
    }

    .popular-courses__card-text img {
        width: 72px;
        height: 20px;
        margin-bottom: 12px;
    }

    .more-courses {
        margin-top: 44.5px;
    }

    .categories-topics__blocks {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .categories-topics__block {
        gap: 32px;
    }

    .more-courses {
        margin-top: 40px;
    }

    .categories-topics__name {
        margin-top: 40px;
    }

    .cooperation__companies-logos {
        justify-content: center;
    }

    .cooperation__companies-logos {
        margin-top: 40px;
    }

    .ideal-solution {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .ideal-solution__sales-and-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .ideal-solution__button {
        padding: 12px;
    }

    .offers {
        background: #DBF3ED;
        padding: 64px 12px 80px 12px;
    }

    .offers__container {
        flex-direction: row;
        margin-top: 40px;
        justify-content: space-between;
    }

    .offers__training-program {
        width: 232px;
    }

    .offers__annual {
        width: 232px;
    }

    .offers__monthly {
        width: 232px;
    }

    .students__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 24px;
    }

    .students__photos-4div {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .students__photos-9div {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .form {
        padding-left: 12px;
        padding-right: 12px;
    }

    .form__button {
        width: 186px;
    }

    .footer {
        padding: 32px 12px;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__left-footer {
        display: flex;
        width: 306px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .footer__right-footer {
        align-items: flex-end;
        justify-content: space-between;
        width: 306px;
    }

    .footer__socials-icons {
        display: flex;
        gap: 24px;
    }

    .footer__left-footer-description {
        text-align: left;
    }
}

@media screen and (min-device-width: 1200px) {

    .header {
        padding: 16.5px 36px;
        max-width: 1368px;
        margin: 0 auto;
    }

    .header__logo {
        text-decoration: none;
        font-size: 32px;
        color: black;
    }

    .header__explore {
        display: block;
        padding: 10px 12px;
        background-color: #0F8277;
        padding-right: 8px;
        color: white;
        border: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        position: relative;
        border-radius: 4px;
    }

    .header__explore::after {
        content: url("../images/arrow_bot.svg");
        width: 8px;
        height: 14px;
        /* position: absolute;
        top: 20px;
        left: 20px;
        background-image: url("../images/arrow_bot.svg");
        background-color: black; */
    }

    .header__menu-button {
        display: none;
    }

    .header__menu-line {
        display: none;
    }

    .header__left-side {
        gap: 44px;
    }

    .header__search-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #5C5C5C;
        border-radius: 4px;
    }

    .header__search-text {
        color: #5C5C5C;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        padding-left: 12px;
        padding-right: 36px;
    }

    .header__search-line img {
        display: block;
        height: 16px;
        width: 16px;
        padding: 10px;
        background-color: #0F8277;
        border: 1px solid #5C5C5C;
        border-radius: 3px;
    }

    .header__right-side img {
        display: none;
    }

    .header-menu {
        display: block;
    }

    .header__menu-list {
        display: flex;
        flex-direction: row;
        gap: 48px;
    }

    .header__menu-list li {
        list-style-type: none;
    }

    .header__menu-list a {
        color: black;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }

    .wrapper {
        max-width: 1368px;
        padding-left: 36px;
        padding-right: 36px;
    }

    .learn-section__buttons {
        padding-bottom: 184px;
        padding-left: 110px;
    }

    .learn-section__website-title {
        padding-top: 170px;
        font-size: 56px;
        padding-left: 110px;
        width: 512px;
    }

    .learn-section__description {
        font-size: 22px;
        padding-left: 110px;
        width: 512px;
    }

    .learn-section img {
        display: block;
        position: absolute;
        width: 533px;
        height: 533px;
        flex-shrink: 0;
        top: 41px;
        right: 23px;
    }

    .the-best-program__cards {
        justify-content: space-between;
    }

    .the-best-program__card img {
        width: 100%;
        height: 278px;
    }

    .green {
        font-size: 20px;
    }

    .h2-titles {
        font-size: 40px;
    }

    .descriptions {
        font-size: 20px;
    }

    .text-school-name {
        font-size: 20px;
    }

    .text-highlighted {
        font-size: 24px;
    }

    .text-call-to-action {
        font-size: 16px;
    }

    .popular-courses__card img {
        height: 270px;
    }

    .popular-courses__card-text img {
        width: 72px;
        height: 20px;
        margin-bottom: 12px;
    }

    .popular-courses__card-text-school-name {
        font-size: 20px;
    }

    .popular-courses__card-text-highlighted {
        font-size: 24px;
    }

    .popular-courses__card-text-call-to-action {
        font-size: 16px;
    }

    .popular-courses__card-text {
        width: 274px;
    }

    .more-courses {
        margin-top: 40px;
        margin-bottom: 83px;
    }

    .categories-topics__block {
        width: 306px;
    }

    .categories-topics__name {
        font-size: 24px;
    }

    .categories-topics__course-name {
        font-size: 20px;
    }

    .categories-topics__students-number {
        font-size: 16px;
    }

    .cooperation h2 {
        width: 871px;
        text-align: center;
    }

    .cooperation {
        padding: 80px 36px;
        background: #DBF3ED;
    }

    .cooperation__img1 {
        width: 178px;
        height: 36px;
    }

    .cooperation__img2 {
        width: 122px;
        height: 42px;
        padding: 10px;
    }

    .cooperation__img3 {
        width: 106px;
        height: 36px;
        padding: 10px;
    }

    .cooperation__img4 {
        width: 63px;
        height: 63px;
    }

    .cooperation__img5 {
        width: 97px;
        height: 39px;
    }

    .cooperation__img6 {
        width: 135px;
        height: 44px;
    }

    .cooperation__img7 {
        width: 152px;
        height: 40px;
    }

    .cooperation__img8 {
        width: 151px;
        height: 32px;
    }

    .cooperation__companies-logos {
        justify-content: space-between;
    }

    .ideal-solution {
        gap: 72px;
        margin-top: 80px;
        margin-bottom: 70px;
    }

    .ideal-solution__container {
        grid-template-columns: 196px 196px 196px;
        grid-template-rows: 136px 136px 136px;
    }

    .ideal-solution__container div {
        width: 176px;
        height: 116px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ideal-solution__description {
        font-size: 22px;
    }

    .ideal-solution__button {
        font-size: 16px;
    }

    .ideal-solution__sales-and-title {
        width: 636px;
    }

    .ideal-solution__sales-and-title h2 {
        width: 100%;
    }

    .offers {
        background: #DBF3ED;
        padding: 80px 36px 100px 36px;
    }

    .offers__offer-title {
        font-size: 24px;
    }

    .offers__training-program {
        padding: 56px;
        width: 416px;
    }

    .offers__annual {
        padding: 56px;
        width: 416px;
    }

    .offers__monthly {
        padding: 56px;
        width: 416px;
    }

    .offers__offer-description {
        font-size: 16px;
    }

    .offers__offer-price {
        font-size: 40px;
    }

    .offers__offer-slash {
        font-size: 16px;
    }

    .offers__button {
        font-size: 18px;
    }

    .offers__benefits-list li {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .students__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* 306px */
        grid-template-rows: repeat(3, 210px);
        grid-gap: 24px;
    }

    .form {
        padding: 80px 256px;
    }

    fieldset .form__description {
        font-size: 20px;
    }

    .form__contact-info label {
        font-size: 22px;
    }

    .form__contact-info input {
        font-size: 16px;
    }

    .form__button {
        font-size: 18px;
    }

    .footer {
        margin: 0 auto;
        padding: 64px 36px;
        max-width: 1368px;
    }

    .footer__socials-icons img {
        width: 32px;
        height: 32px;
    }

    .footer__left-footer-description {
        font-size: 16px;
        text-align: left;
    }

    .footer__copyright {
        font-size: 16px;
    }
}